<app-header titulo="Post"></app-header>

<ion-content>
  <ion-card *ngIf="this.posts.length === 0">
    <ion-card-header>
      <ion-card-title>Aún no hay posts</ion-card-title>
      <ion-card-subtitle>Se el primero en sumar tu experiencia!</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button routerLink="/post-create" expand="block" shape="round">
        Crear Post!
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-list #list *ngIf="this.posts.length > 0">
    <ion-item-sliding *ngFor="let post of posts">
      <ion-item [routerLink]="[post._id]"
                detail>
        <ion-label>
          <h3>{{ post.title | titlecase}}</h3>
          <p>{{ post.name | titlecase}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option (click)="favoritePost(post)">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-item-option>
        <ion-item-option color="secondary" (click)="sharePost(post)">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deletePost(post)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" routerLink="/post-create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
