<div *ngIf="this.popoverMsg === undefined" (click)="onClick()" class="ion-text-center">
  <p>1) Debe ingresar un nombre con una longitud de dos caracteres</p>
  <p>2) Debe ingresar un email válido</p>
  <p>3) Debe ingresar un password con una longitud de seis caracteres</p>
</div>
<div *ngIf="this.popoverMsg !== null" (click)="onClick()" class="ion-text-center">
  <p>{{ this.popoverMsg }}</p>
</div>
