<app-header titulo="Login"></app-header>
<ion-content>
  <form #formulario="ngForm" (ngSubmit)="onLoginSubmit($event)">
    <ion-list>
      <ion-list-header>
        <ion-label>Entra a ver las novedades:</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input  type="email"
                    name="email"
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    [(ngModel)]="user.email"
                    required
                    >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input  type="password"
                    name="psw"
                    pattern="^[a-zA-Z0-9]{6,}$"
                    [(ngModel)]="user.psw"
                    required
                    >
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" type="submit" shape="round">Submit</ion-button>
  </form>
</ion-content>
