<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlogWebApp REST API</title>
  </head>
  <body>
    <h1>REST API para BlogWebApp</h1>
    <table>
      <thead>
        <tr>
          <th>Método</th>
          <th>Dirección</th>
          <th>Función</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Controlador Usuario</td>
        </tr>
        <tr>
          <td><a>GET</a></td>
          <td><a href="/api/users">/api/users</a></td>
          <td>(req auth) usuarios registrados</td>
        </tr>
        <tr>
          <td><a>GET</a></td>
          <td><a href="/api/users">/api/users/:usrId</a></td>
          <td>(req auth) devuelve los datos del usuario en base a la id</td>
        </tr>
        <tr>
          <td><a>POST</a></td>
          <td><a href="/api/signup">/api/signup</a></td>
          <td>datos usuario a registrar</td>
        </tr>
        <tr>
          <td><a>POST</a></td>
          <td><a href="/api/login">/api/login</a></td>
          <td>datos usuario a loggear</td>
        </tr>
        <tr>
          <td><a>GET</a></td>
          <td><a href="/api/logout">/api/logout</a></td>
          <td>(req auth) No requiere JSON. Devuelte el JWT=""(empty)</td>
        </tr>
        <tr>
          <td>Controllador Posteos</td>
        </tr>
        <tr>
          <td><a>GET</a></td>
          <td><a href="/api/post">/api/post</a></td>
          <td>(req auth) usuarios registrados</td>
        </tr>
        <tr>
          <td><a>GET</a></td>
          <td><a href="/api/post/">/api/post/search/:byName</a></td>
          <td>(req auth) devuelve post con name=:byName</td>
        </tr>
        <tr>
          <td><a>GET</a></td>
          <td><a href="/api/post">/api/post/:postId</a></td>
          <td>(req auth) devuelve el post con id=:postId</td>
        </tr>
        <tr>
          <td><a>POST</a></td>
          <td><a href="/api/post">/api/post</a></td>
          <td>(req auth) se envía los datos del post a crear</td>
        </tr>
        <tr>
          <td><a>PUT</a></td>
          <td><a href="/api/post">/api/post/:postId</a></td>
          <td>(req auth) modifica los datos del post con id=:postId</td>
        </tr>
        <tr>
          <td><a>DELETE</a></td>
          <td><a href="/api/post">/api/post/:postId</a></td>
          <td>(req auth) borra el post con id=:postId</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
