<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="miMenu">
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-start">
      <ion-label>BlogWebApp</ion-label>
    </ion-title>
    <ion-chip slot="end" *ngIf="this.usrName">
      <ion-avatar>
        <img [src]=this.usrAvatarUrl>
      </ion-avatar>
      <ion-label>
        {{ this.usrName | titlecase}}
      </ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-slides-home></app-slides-home>
  <ion-grid class="top-20" *ngIf="!this.isLogged" >
    <ion-row>
      <ion-col>
        <ion-button expand="full" routerLink="/login" shape="round" color="tertiary">
          Login
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" routerLink="/signup" shape="round">
          Sign Up
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="top-20" *ngIf="this.isLogged" >
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
        <ion-button expand="full" routerLink="/posts" shape="round" color="primary">
          Posts
        </ion-button>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
