<app-header titulo="Post Detalle"></app-header>

<ion-content *ngIf="loadedPost">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{loadedPost.title}}</ion-card-title>
      <ion-card-subtitle>{{ loadedPost.name }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{loadedPost.body}}
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="this.usrId === loadedPost.usrId">
    <ion-fab-button *ngIf="this.usrId === loadedPost.usrId">
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="trash-outline" color="danger" (click)="deletePost()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="editPost()">
        <ion-icon name="create-outline" color="primary"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
