<app-header titulo="Suma tu contenido"></app-header>

<ion-content>
  <form #formulario="ngForm" (ngSubmit)="onPostSubmit()">
    <ion-list>
      <!-- <ion-list-header>
        <ion-label>Validate: {{ formulario.valid }}</ion-label>
      </ion-list-header> -->
      <ion-item>
        <!-- <ion-label position="floating">Título</ion-label> -->
        <ion-input  type="text"
                    name="title"
                    placeholder="Título"
                    [(ngModel)]="post.title"
                    required
                    >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea type="text"
                      name="body"
                      [(ngModel)]="post.body"
                      required
                      placeholder="Compartí tus ideas"
                      class ="body"
                      rows="29"
                      cols="12"
                      >
        </ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button expand="full" type="submit" [disabled]="!formulario.valid" shape="round">Submit</ion-button>
  </form>
</ion-content>
